<section class="bg-neutral rounded-xl">
  <h2 class="text-4xl text-center font-bold" >Resumen</h2>
  <div class="flex justify-evenly">
    <div class="text-center py-5">
      <h3 class="text-3xl font-black">Consumed:</h3>
      <p class="text-2xl">{{foodCalories()}} Calories</p>
    </div>

    <div class="text-center py-5">
      <h3 class="text-3xl font-black">Burned:</h3>
      <p class="text-2xl">{{activityCalories()}} Calories</p>
    </div>

    <div class="text-center py-5">
      <h3 class="text-3xl font-black">Balance:</h3>
      <p class="text-2xl">{{balance()}} Calories</p>
    </div>
  </div>
</section>
